# Everything goes to CoreTeam.
* @ampmod/CoreTeam

# Example projects and assets belong to content team.
packages/gui/src/lib/examples @ampmod/Content
packages/gui/src/lib/libaries/extensions/*/* @ampmod/Content

# Temporary until aw3 is ready.
packages/gui/src/website @ampmod/aw3

# Extensions belong to extension reviewers even though extensions normally shouldn't belong
# here. We might make rare exceptions though.
packages/vm/src/extensions @ampmod/ExtensionReviewer